<div class="container">
<h2>投稿詳細</h2>
  <table class="table">

    <!-- 朝食 -->
    <div class="row">
      <div class="col-mt6">
        <tr>
          <th>朝食</th>
          <td>
            <% @post.breakfast.each_with_index do |item, index| %>
              <p><%= item %>（<%= (@post.breakfast_calories[index].to_i || 0) %> kcal）</p>
            <% end %>
            <strong>合計: <%= number_with_delimiter(@post.total_breakfast_calories) %> kcal</strong>
          </td>
          <td>
            <% if @post.breakfast_image.present? && @post.breakfast_image.attached? %>
              <%= image_tag url_for(@post.breakfast_image), class: "meal-photo", width: 200, height: 200 %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
      </div>
    </div>

    <!-- 昼食 -->
    <div class="row">
      <div class="col-mt6">

        <tr>
          <th>昼食</th>
          <td>
            <% @post.lunch.each_with_index do |item, index| %>
              <p><%= item %>（<%= (@post.lunch_calories[index] || 0).to_i %> kcal）</p>
            <% end %>
            <strong>合計: <%= @post.total_lunch_calories %> kcal</strong>
          </td>
          <td>
            <% if @post.lunch_image.present? && @post.lunch_image.attached? %>
              <%= image_tag url_for(@post.lunch_image), class: "meal-photo", width: 200, height: 200 %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
      </div>
    </div>

    <!-- 夕食 -->
    <div class="row">
      <div class="col-mt6">
        <tr>
          <th>夕食</th>
          <td>
            <% @post.dinner.each_with_index do |item, index| %>
              <p><%= item %>（<%= (@post.dinner_calories[index] || 0).to_i %> kcal）</p>
            <% end %>
            <strong>合計: <%= @post.total_dinner_calories %> kcal</strong>
          </td>
          <td>
            <% if @post.dinner_image.present? && @post.dinner_image.attached? %>
              <%= image_tag url_for(@post.dinner_image), class: "meal-photo", width: 200, height: 200 %>
            <% else %>
              なし
            <% end %>
          </td>
        </tr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- 総摂取カロリー -->
        <tr>
          <th>総摂取カロリー</th>
          <td><%= number_with_delimiter(@post.total_calorie_intake) %> kcal</td>
        </tr>
        <tr>
          <th>消費カロリー</th>
          <td><%= number_with_delimiter(@post.calories_consumed) %> kcal</td>
        </tr>
        <tr>
          <th>今日の体重</th>
          <td><%= @post.weight %> kg</td>
        </tr>
        <tr>
          <th>努力ポイント</th>
          <td><%= @post.effort_point %></td>
        </tr>
        <tr>
          <th>カロリー収支</th>
          <td><%= number_with_delimiter(@post.total_calories) %> kcal</td>
        </tr>
        <tr>
          <th>進捗度</th>
          <td><%= @post.index_progress %> %</td>
        </tr>
        <tr>
          <th>いいね数</th>
          <td><%= render "user_side/favorites/btn", post: @post %></td>
        </tr>
        <tr>
          <th>コメント数</th>
          <td>💬 <%= @post.post_comments.count %></td>
        </tr>
        <tr>
          <% if @post.user == current_user %>
            <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %> <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %></td>
          <% end %>
        </tr>
      </div>
    </div>
  </table>
  <h2>コメント一覧</h2>
  <%= render "user_side/post_comments/index", post: @post %>
  <%= render "user_side/post_comments/form", post: @post, post_comment: @post_comment %>
</div>

