<div class="container">
  <h2>投稿詳細</h2>
  <div class="row">
    <div class="col-md-2">
      <tr>
        <td><%= image_tag @post.user.get_profile_image, size:'100x100' %><td>
      </tr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <tr>
        <td>投稿者：<%= @post.user.nickname %></td>
      </tr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">

        <!-- 朝食 -->
        <tr>
          <th>朝食</th>
          <td><%= @post.breakfast %></td>
          <td><%= number_with_delimiter(@post.breakfast_calories) %> kcal</td>
          <td>
            <% if @post.breakfast_image.attached? %>
              <%= image_tag(@post.breakfast_image, size: "200x200") %>
            <% else %>
              No Image
            <% end %>
          </td>
        </tr>

        <!-- 昼食 -->
        <tr>
          <th>昼食</th>
          <td><%= @post.lunch %></td>
          <td><%= number_with_delimiter(@post.lunch_calories) %> kcal</td>
          <td>
            <% if @post.lunch_image.attached? %>
              <%= image_tag(@post.lunch_image, size: "200x200") %>
            <% else %>
              No Image
            <% end %>
          </td>
        </tr>

        <!-- 夕食 -->
        <tr>
          <th>夕食</th>
          <td><%= @post.dinner %></td>
          <td><%= number_with_delimiter(@post.dinner_calories) %> kcal</td>
          <td>
            <% if @post.dinner_image.attached? %>
              <%= image_tag(@post.dinner_image, size: "200x200") %>
            <% else %>
              No Image
            <% end %>
          </td>
        </tr>

        <!-- その他の情報 -->
        <tr>
          <th>総摂取カロリー</th>
          <td><%= number_with_delimiter(@post.total_calories_intake) %> kcal</td>
        </tr>
        <tr>
          <th>消費カロリー</th>
          <td><%= number_with_delimiter(@post.calories_consumed) %> kcal</td>
        </tr>
        <tr>
          <th>カロリー収支</th>
          <td><%= number_with_delimiter(@post.total_calories) %> kcal</td>
        </tr>
        <tr>
          <th>体重</th>
          <td><%= @post.weight %> kg</td>
        </tr>
        <tr>
          <th>努力ポイント</th>
          <td><%= @post.effort_point %></td>
        </tr>
        <tr>
          <th>進捗度</th>
          <td><%= @post.index_progress %> %</td>
        </tr>
        <tr id=<%= "favorite-" + @post.id.to_s %> >
          <th>いいね数</th>
          <td><%= render "user_side/favorites/btn", post: @post, remote: true %></td>
        </tr>
        <tr>
          <th>コメント数</th>
          <td>💬 <%= @post.post_comments.count %></td>
        </tr>
        <tr>
          <% if @post.user == current_user %>
            <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %> <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %></td>
          <% end %>
        </tr>
      </div>
    </div>
  </table>
  <h2>コメント一覧</h2>
  <%= render "user_side/post_comments/index", post: @post %>
  <%= render "user_side/post_comments/form", post: @post, post_comment: @post_comment %>
</div>

