<h2>投稿詳細</h2>
<table>
  <tr>
    <th><投稿日></th>
    <td><%= @post.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>投稿者</th>
    <td><%= link_to @post.user.nickname, user_path(current_user) %></td>
  </tr>
  <tr>
      <th>朝食</th>
      <td><%= @post.breakfast %></td>
    </tr>
    <tr>
      <th>昼食</th>
      <td><%= @post.lunch %></td>
    </tr>
    <tr>
      <th>夕食</th>
      <td><%= @post.dinner %></td>
    </tr>
    <tr>
      <th>間食</th>
      <td><%= @post.dessert %></td>
    </tr>
    <tr>
      <th>摂取カロリー</th>
      <td><%= @post.calorie_intake %></td>
    </tr>
    <tr>
      <th>消費カロリー</th>
      <td><%= @post.calories_consumed %></td>
    </tr>
    <tr>
      <th>総カロリー</th>
      <td><%= @post.total_calories %></td>
    </tr>
    <tr>
      <th>進捗度</th>
      #<td><%= @post.progress %></td>
    </tr>
    <tr>
      <th>今日の体重</th>
      <td><%= @post.weight %></td>
    </tr>
    <tr>
      <th>今日のBody</th>
      <td><%= @post.body %></td>
    </tr>
    <tr>
      <th>努力ポイント</th>
      <td><%= @post.effort_point %>
    </th>
    <% if @post.user == current_user %>
      <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>
      <td><%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
    <% end %>
 <table>