<div class="container">
    </br>
    <div class="row">
        <div class="col-2">
            <h2>会員一覧</h2>
        </div>
        <div class="col-10">
        </div>
    </div>
    </br>
    <div class="row">
        <table class="table table-border">
            <thead class="table-secondary">
                <tr>
                    <th class="col-1">会員ID</th>
                    <th class="col-2">名前</th>
                    <th class="col-2">ニックネーム</th>
                    <th class="col-1">進捗度(％)</th>
                    <th class="col-3">メールアドレス</th>
                    <th class="col-1">ステータス</th>

                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td class="col-1"><%= user.id %></td>
                        <td class="col-2">
                          <%= link_to admin_side_user_path(user) do %>
                            <%= user.name %>
                          <% end %>
                        </td>
                        <td class="col-2">
                          <%= user.nickname %>
                        </td>
                        <td class="col-1">
                          <%= user.latest_weight %>
                        </td>
                        <td class="col-3"><%= user.email %></td>
                        <td class="col-1">
                            <% if user.is_active == true %>
                                <p class="text-success">有効</p>
                            <% else %>
                                <p class="text-secondary">退会済み</p>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @users %>
    </div>
</div>

