<div class='container'>
<h1>新規会員登録</h1>
<span style="color: red;">※は必須です。</span><br><br>
<table>
  <div class='row'>
    <div class="col-md-12">
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <%= render "user_side/shared/error_messages", resource: resource %>
          <tr>
            <th><%= f.label :name, "(氏名)"%><span style="color: red;">※</span></th>
            <td><%= f.text_field :name, placeholder: "筋肉　太郎" %></td>
          </tr>
          <tr>
            <th><%= f.label :nickname, "(ニックネーム)"%><span style="color: red;">※</span></th>
            <td><%= f.text_field :nickname, placeholder: "マッスル" %></td>
          </tr>
          <tr>
            <th><%= f.label :height, "(身長)"%><span style="color: red;">※</span></th>
            <td><%= f.text_field :height, placeholder: "160" %> cm</td>
          </tr>
          <tr>
            <th> <%= f.label :current_weight, "(現在の体重)"%><span style="color: red;">※</span></th>
            <td><%= f.text_field :current_weight, placeholder: "70" %> kg</td>
          </tr>
          <tr>
            <th><%= f.label :introduction, "(自己紹介)"%></th>
            <td><%= f.text_area :introduction, placeholder: "目指せマイナス5kg！" %></td>
          </tr>
          <tr>
            <th><%= f.label :ideal_weight, "(理想の体重)"%><span style="color: red;">※</span></th>
            <td><%= f.text_field :ideal_weight, placeholder: "65" %> kg</td>
          </tr>
          <tr>
            <th><%= f.label :target_calorie_intake, "(1日の目標摂取カロリー)"%></th>
            <td><%= f.text_field :target_calorie_intake, placeholder: "1600" %> カロリー</td>
          </tr>
          <tr>
            <th><%= f.label :target_calories_consumed, "(1日の目標消費カロリー)"%></th>
            <td><%= f.text_field :target_calories_consumed, placeholder: "1800" %> カロリー</td>
          </tr>
          <tr>
           <th><%= f.label :email, "(メールアドレス)" %><span style="color: red;">※</span></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "muscle@example.com" %></td>
          </tr>
          <tr>
            <th><%= f.label :password, "パスワード" %><span style="color: red;">※</span></th>
            <td>
              <% if @minimum_password_length %>     
                <%= f.password_field :password, autocomplete: "new-password" %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><%= f.label :password_confirmation, "パスワード(確認用)" %><span style="color: red;">※</span></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td>
              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            </td>
          </tr>
        <% end %>
          <tr>
            <td>
              <%= render "user_side/shared/links" %>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
