<h2>新規会員登録</h2>

<%= form_with model: @user, url: new_user_registration_path do |f| %>
  <%= render "user_side/shared/error_messages", resource: resource %>
    <p>ユーザー情報</p>
      <%= f.label :name, "(氏名)"%>
      <%= f.text_field :name, placeholder: "筋肉　太郎" %><br>
      <%= f.label :nickname, "(ニックネーム)"%>
      <%= f.text_field :nickname, placeholder: "マッスル" %><br>
      
      <%= f.label :height, "(身長)"%>
      <%= f.text_field :height, placeholder: "160" %>cm<br>
      <%= f.label :current_weight, "(現在の体重)"%>
      <%= f.text_field :current_weight, placeholder: "70" %>kg<br>
      <%= f.label :introduction, "(自己紹介)"%>
      <%= f.text_area :introduction, placeholder: "目指せマイナス5kg！" %>kg<br>
    <p>目標</p>
      <%= f.label :ideal_weight, "(理想の体重)"%>
      <%= f.text_field :ideal_weight, placeholder: "65" %>kg<br> 
      <%= f.label :ideal_body, "(理想の体型)"%>
      <%= f.text_field :ideal_body, placeholder: "写真選ばす？" %><br>
      <%= f.label :target_calorie_intake, "(1日の目標摂取カロリー)"%>
      <%= f.text_field :target_calorie_intake, placeholder: "1600" %><br>
      <%= f.label :target_calories_consumed, "(1日の目標消費カロリー)"%>
      <%= f.text_field :target_calories_consumed, placeholder: "1800" %><br>
    <p>情報登録</p>
    <%= f.label :email, "(メールアドレス)" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "muscle@example.com" %><br>
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %><br>

      <%= f.label :password_confirmation, "パスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "user_side/shared/links" %>
