

  <table>
    <tr>
      <%= image_tag user.get_profile_image, size:'100x100' %>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= user.nickname %></td>
    </tr>
    <tr>
    <th>自己紹介</th>
    <td><%= user.introduction %></td>
    </tr>
    <tr>
    <th>身長</th>
    <td><%= user.height %> cm</td>
    </tr>
    <tr>
    <th>理想の体重</th>
    <td><%= user.ideal_weight %> kg</td>
    </tr>
    <tr>
      <th>現在の体重</th>
      <!-- 最新の投稿の体重が反映される -->
      <td><%=@user.latest_weight %> kg</td>
    </tr>
    <tr>
      <th>進捗率</th>
      <td><%= @user.progress.round(2) %> %</td>
    </tr>
    <tr>
      <th>目安適正体重</th>
      <td><%= user.ideal_weight_calculated.round(1) %>kg</td>
    </tr>
    <tr>
    <th>現在のBMI</th>
      <td><%= user.bmi %>(適正値：22)</td>
    </tr>
    <tr>
      <th>1日の目標摂取カロリー</th>
      <td><%= number_with_delimiter(user.target_calorie_intake) %> kcal</td>
    </tr>
    <tr>
      <th>1日の目標消費カロリー</th>
      <td><%= number_with_delimiter(user.target_calories_consumed) %> kcal</td>
    </tr> 
  </table>