<h4>登録内容</h4>
  <table>
    <tr>
      <th>ニックネーム</th>
      <td><%= user.nickname %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>身長</th>
      <td><%= user.height %> cm</td>
    </tr>
    <tr>
      <th>現在の体重</th>
      <td><%= user.current_weight %> kg</td>
    </tr>
    <tr>
      <th>理想の体重</th>
      <td><%= user.ideal_weight %> kg</td>
    </tr>
    <tr>
      <th>1日の目標摂取カロリー</th>
      <td><%= user.target_calorie_intake %> kcal</td>
    </tr>
    <tr>
      <th>1日の目標消費カロリー</th>
      <td><%= user.target_calories_consumed %> kcal</td>
    </tr> 
  </table>