<h2><%= @user.nickname %>さんがいいねした投稿</h2>
<table class="table">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>ニックネーム</th>
      <th>理想の体重(kg)</th>
      <th>現在の体重(kg)</th>
      <th>摂取カロリー(kcal)</th>
      <th>消費カロリー(kcal)</th>
      <th>カロリー収支(kcal)</th>
      <th>努力ポイント</th>
      <th>いいね</th>
    </tr>
  </thead>
  <tbody>
    <% @favorite_posts.each do |post| %>
      <tr>
        <td><%= link_to post.created_at.strftime("%Y/%m/%d"), post_path(post) %></td>
        <td><%= post.user.nickname %></td>
        <td><%= post.user.ideal_weight %></td>
        <td><%= post.weight %></td>
        <td><%= number_with_delimiter(post.calorie_intake) %></td>
        <td><%= number_with_delimiter(post.calories_consumed)%></td>
        <td class="<%= post.total_calories.negative? ? 'text-danger' : 'text-success' %>">
          <%= number_with_delimiter(post.total_calories) %>
        </td>
        <td><%= post.effort_point %></td>
        <td id=<%= "favorite-" + post.id.to_s %> >
          <%= render "user_side/favorites/btn", post: post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
