<div class="container mt-4">
  <h2 class="text-center mb-4">ユーザー一覧</h2>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <div class="card-body">
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image, class: "rounded-circle mb-3 profile-image", size: "100x100" %>
          <% end %>
            <h5 class="card-title"><%= user.nickname %></h5>
            <p class="card-text"><%= user.introduction.presence || "自己紹介はありません" %></p>
            <p class="card-text">
              <td>ステータス:</td>
              <% if user.is_active? %>
                <span class="text-success">有効</span>
              <% else %>
                <span class="text-danger">退会済み</span>
              <% end %>
            </p>
            <%= render 'relation',user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
  .card {
  border: 2px solid black; /* 黒い枠線 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* 影を追加 */
  transition: transform 0.3s ease-in-out; /* アニメーション効果 */
}

.card:hover {
  transform: translateY(-5px); /* ホバー時にカードを少し持ち上げる */
}
</style>