<div class="container">
  <div class="row">
    <h2><%= @user.nickname %>さんのプロフィール</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @user.get_profile_image, size:'100x100' %>
    </div>
    <div class="col-md-3">
      <%= render 'user_side/users/relation', user: @user %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'info', user: @user %>
    </div>
    <div class="col-md-12">
      <div class="d-flex justify-content-center mt-5"><strong>理想体重との比較グラフ</strong></div>
      <canvas id="lineChart" data-xdates='<%= @x_dates.to_json %>' data-ydates='<%= @y_dates.to_json %>'></canvas>
    </div>
  </div>
  <div class="row">
  </div><br><br>
  <div class="row">
    <div class="col-12">
        <%= render 'user_side/posts/index', posts: @posts %>
    </div>
  </div>
</div>



