<div class="container">
  <h2 class="text-center mb-4">フォロワー</h2>
  <div class="row">
      <% if @followers.present? %>
        <% @followers.each do |user| %>
          <div class="col-md-4">
          <div class="card text-center">
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, class: "rounded-circle mb-3 image-center", size: "100x100" %>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= user.nickname %></h5>
                <p class="card-text"><%= user.introduction.presence || "自己紹介はありません" %></p>
                <p class="card-text">
                  <td>ステータス:</td>
                  <% if user.is_active? %>
                    <span class="text-success">有効</span>
                  <% else %>
                    <span class="text-danger">退会済み</span>
                  <% end %>
                </p>
                <p class="card-text">フォロー数: <%= user.followings.count %></p>
                <% if current_user != user %>
                  <% if current_user.following?(user) %>
                    <%= link_to "フォロー中", user_relationships_path(user), method: :delete, class: "btn btn-secondary" %>
                  <% else %>
                    <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>　フォロワーはいません。</p>
      <% end %>
    </div>

<style>
  .image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
