<% if user_signed_in? %>
  <li class="nav-item mr-3">
    <%= link_to 'ユーザーページ', user_path(current_user), class: 'btn btn-outline-dark' %>
  </li>
  <li class="nav-item mr-3">
    <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-dark' %>
  </li>
  <li class="nav-item mr-3">
    <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-dark' %>
  </li>
  <li class="nav-item mr-3">
    <%= link_to 'いいね一覧', favorites_list_path, class: 'btn btn-outline-dark' %>
  </li>
  <li class="nav-item mr-3">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
  </li>
<% else %>
  <li>
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "ログイン", new_user_session_path %>
  </li>
<% end %>