<ul class="d-flex list-unstyled justify-content-end">

  <% if admin_signed_in? %>
    <% if request.fullpath.include? "/admin" %>
      <li class="nav-item me-3">
        <%= link_to '会員一覧', admin_side_users_path, class: 'btn btn-outline-dark' %>
      </li>
      <li class="nav-item me-3">
        <%= link_to '投稿一覧', admin_side_posts_path, class: 'btn btn-outline-dark' %>
      </li>
      <li class="nav-item mr-3">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
      </li>
    <% else %>
      <li class="nav-item me-3">
        <%= link_to '管理者ページ', admin_side_posts_path, class: 'btn btn-outline-dark' %>
      </li>
    <% end %>

  <% elsif user_signed_in? %>
    <li class="nav-item me-3">
      <%= link_to 'ユーザーページ', user_path(current_user), class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to '投稿一覧', posts_path, class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to 'いいね一覧',  favorites_user_path(current_user), class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to 'About', about_path, class: 'btn btn-outline-dark' %>
    </li>
  <% else %>
    <li class="nav-item me-3">
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-dark' %>
    </li>
    <li class="nav-item me-3">
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark' %>
    </li>

    
  <% end %>
</ul>