<!DOCTYPE html>
<html>
  <head>
    <title>GoalFit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <header>
      <%= render 'layouts/btn' %>
      <p id="notice"><%= notice %></p>
        <div class="d-flex justify-content-end mb-4">
          <%= render 'searches/search' %>
          </div>
    </header>
  </head>

  <body>

      <main>
        <%= yield %>
      </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
       <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>

